/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-Oct-2020, 8:44:41 PM
    Author     : DRC
*/

.simulationAnchor{
    -fx-border-color:black;
    -fx-border-radius:10;
}

.simulationSubItem{
    -fx-border-color:grey;
    -fx-border-radius:10;
}

.simulationLabel{
    -fx-background-radius:5;
    -fx-background-color:#0099ff;
}

.clickable{
    -fx-cursor: hand;
}

.moduleItemTitle{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #0099ff;
    -fx-alignment: CENTER;
}

.moduleVBox{
    -fx-spacing: 10px;
    -fx-padding: 10px 0px 0px 10px;
}

.redText{
    -fx-text-fill: red;
}

.blackText{
    -fx-text-fill: black;
}